*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700&display=swap');

body {
    font-family: "Fredoka", sans-serif;
}


body{
    background-color: #170430;
}
.nav-bar{
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1A0B2E;
   
}
.nav-bar ul {
    display: flex;
    column-gap:80px;

}
.nav-bar a{
    text-decoration: none;
    list-style: none;
    color: white;
}
.main1 h1,p{
   color: white;
   
   
   
}
.down{
    margin-bottom: 70px;
}
.main1 p{
    line-height: 1.6;
}
.box-1{
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content: center;
}
.main1{
    display: flex;
}
.contant{
    display: flex;
    align-items: end;
}
.span{
    color: #7127BA;
}
.two{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 800px;
}
.four{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
.one{
    display: flex;
    gap: 10px;
    width: 500px;
    margin: 10px;
    line-height: 0.7;
    align-items: center;
    justify-content: center;
    
}
.box-3 .h1{
    margin-left: 200px;
}

.con button{
    background-color:#2C1250;
    border-radius: 6px;
    border: 2px solid #693B93;
    color: white;
    padding: 10px 30px;
}
.dev h1,p{
    color: white;
    line-height: 1.3;
}
.dev{
    margin-bottom: 40px;
}
.ui{
    line-height: 1.7;
}
.box-3 h1{
    color: white;
}
.box-3{
   
  background: #785eb5;
background: radial-gradient(circle, rgba(120, 94, 181, 1) 0%, rgba(16, 6, 48, 1) 28%);
height: 550px;


}
.heading h1{
    margin-left: 150px;
    margin-top: 100px;
    
    
}
.box-2{
    margin: 0px 250px;
}
.four{
    margin-top: 10px;
}

.two  {
    margin-top: 100px;
}
.h1  {
    margin-top: 100px;
}
.con{
    width: 400px;
}
.con h1{
    margin-bottom: 10px;
}
.one{
    background: #130b38;
background: linear-gradient(293deg, rgba(19, 11, 56, 1) 14%, rgba(42, 29, 71, 1) 25%, rgba(21, 7, 46, 1) 53%, rgba(51, 34, 89, 1) 69%, rgba(16, 6, 48, 1) 78%); 
margin: 0 0;
border-radius: 6px;
padding:20px ;
border: rgba(38, 13, 80, 0.733) 2px solid;
}
.seven{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.icon{
    height: 45px;
    width: 45px;
    border-radius: 100%;
    background-color: #251C31;
    justify-content: center;
   
}
.icon img{
    height: 27px;
    padding: 5px 5px;
    margin: 10px 10px 10px 10px;
}
.bye img{
    height: 18px;
     padding: 5px 5px;
    margin: 15px 20px 0px 2px  ;

}
.hi img{
     margin: 10px 20px 0px 2px  ;
}
.six{
    display: flex; 
    gap: 20px;
    margin-top: 10px;
    justify-content: center;
}
.ai h1,h2{
    color: white;
    
}
.ai h1{
    margin-bottom: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.ai h2{
    display: flex;
    justify-content: center;
     font-size: 15px;
}
.ai span{
    color:#A362FF;
}
.box-4{
    margin-top: 100px;
}
.icons{
    margin-top: 50px;
}
.eu{
   background: #332259;
background: radial-gradient(circle, rgba(51, 34, 89, 1) 0%, rgba(16, 6, 48, 1) 30%);
display: flex;
justify-content: center;
align-items: center;
height: 500px;
}
.elogo img{
    border-radius: 100%;
}
.box-5 h1,p{
    color: white;
}
.pro{
    background-color: #2B0B3A;
    height: 270px;
    width: 400px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative ;
    margin-top: 0px;
}
.pro img{
    position: relative;
}
.shot{
    position: relative;
}
.web{
   background: rgb(19, 19, 49);
    height: 100px;
    border-radius: 6px;
    width: 620px;
    padding: 10px;
   display: flex;
   justify-content: center;
   margin-top: 20px;
   
}
.box-5 h1,p, h3{
    color: white;
}
.box-5 {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.box-5 h3{
    color:  #7127BA;
}
.box-6 h1,p{
    color: white;
}
.pro2{
    background-color: #2B0B3A;
    height: 270px;
    width: 400px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative ;
    margin-top: 0px;
}   
.pro2 img{
    position: relative;
}
.shot2{
    position: relative;
}
.web2{
   background: rgb(19, 19, 49);
    height: 100px;
    border-radius: 6px;
    width: 620px;
    padding: 10px;
   display: flex;
   justify-content: center;
   margin-top: 20px;
   
}
.box-6 h1,p, h3{
    color: white;
}
.box-6 {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    gap: 20px;
    margin-top: 50px;
}
.box-6 h1{
    margin-left: 380px;
}
.box-6 h3{
     margin-left: 380px;
     color: #7127BA;
}
.box-7 h2,p{
    color: white;
}
.box-7{
    width: 700px;
    display: flex;
    margin-left: 150px;
    margin-top: 190px;
}
.box-7 h2{
    line-height: 170px;
}
.para{
    line-height: 200px;
}
.wrap{
    flex-wrap: wrap;
}

 /* ============================================
   ALL MEDIA QUERIES IN ONE PLACE
   ============================================ */

/* Extra Small Phones (Portrait) */
@media (max-width: 320px) {
    /* Your CSS here */
}

/* Small Phones */
@media (max-width: 430px) {
    .box-2{
    width: 400px;
    
   }
}

/* Normal Phones */
@media (min-width: 481px) and (max-width: 767px) {
     .box-2{
    width: 800px;
    margin-left: 600px;
    
   }
}

/* Tablets (Portrait + Small Tablets) */
@media (min-width: 768px) and (max-width: 991px) {
   .box-2{
    width: 400px;

   }
}

/* Tablets & Small Laptops */
@media (min-width: 992px) and (max-width: 1199px) {
    /* Your CSS here */
}

/* Laptops / Desktops */
@media (min-width: 1200px) and (max-width: 1439px) {
    /* Your CSS here */
}

/* Large Desktops / Full HD */
@media (min-width: 1440px) and (max-width: 1919px) {
    /* Your CSS here */
}

/* 2K Screens */
@media (min-width: 1920px) and (max-width: 2559px) {
    /* Your CSS here */
}

/* 4K Ultra HD Screens */
@media (min-width: 2560px) {
    
}
